body {
    background-color: #1a1a1a;
    color: #d4af37;
    font-family: Arial, sans-serif;
}

.list-group-item {
    background-color: #333333;
    border: none;
    color: #d4af37;
    margin-bottom: 10px;
}

.list-group-item:hover {
    background-color: #b08d57;
    color: #fff;
}
